@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fira Sans", system-ui, sans-serif;
}

.mono {
  font-family: "Fira Code", ui-monospace, monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

button,
input {
  font: inherit;
}

